<html>
    <head>
        <title>My first Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 25.03.2017, 17.30</p>
            <h2><a href="">My first blog</a></h2>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
        </div>

        <div>
            <p>published: 25.03.2017, 17.40</p>
            <h2><a href="">My very second post</a></h2>
            <strong><p>Well, there's only one thing a fella can do when he's made a mistake as big as this. Get drunk.</p></strong>
        </div>
    </body>
</html>
